<ion-header>
  <ion-navbar>
    <ion-title>
      MBA Near - Restaurantes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="nearbyItems.length == 0">
    <ion-row>
      <ion-col col-12>
        <h3>
          Carregando a lista de restaurantes...
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="nearbyItems.length > 0">
    <ion-item *ngFor="let place of nearbyItems">
      <h2>{{place.name}}</h2>
      <p>{{place.vicinity}}</p>
      <p>Avaliação: {{place.rating}}</p>
      <button ion-button clear color="danger" item-end *ngIf="(place.opening_hours && !place.opening_hours.open_now)">FECHADO</button>
      <button ion-button clear color="secondary" item-end *ngIf="(place.opening_hours && place.opening_hours.open_now)">ABERTO</button>
    </ion-item>
  </ion-list>

</ion-content>
